.CartTitle{font-family: 'Rubik Bubbles', cursive;
           font-size:x-large;}
.CartContainer{min-height: 500px;}
.tablaflex{display: flex;}
.carritoTacho{
    display: flex;justify-content: space-between;
    padding: 10px;
}