.orderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.orderContainterDetalleCliente{flex-direction: column;
    align-items: center;
    display: flex;
}
.orderTitleContainter{display: flex;justify-content: center; }
